<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <script src="/assets/execsjs/PageMaster.js"></script>
    <script>
        GetHTMLHead();
    </script>
    <script src="/Controllers/System/role.js"></script>
</head>
<body onload="Get();" class="formBody">
    <div class="modal" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <!--<button type="button" class="close" onclick="window.top.CloseDialog();">&times;</button>-->
                    <h3 class="smaller lighter blue no-margin">角色编辑</h3>
                </div>

                <div class="modal-body">
                    <table style="width:100%;">
                        <tr>
                            <td class="control-label">角色名称：</td>
                            <td class="controls">
                                <input type="text" id="jsName" style="width:80%;" />
                            </td>
                        </tr>
                        <tr>
                            <td class="control-label">角色描述：</td>
                            <td class="controls">
                                <textarea style="width:80%;height:70px;" id="jsMeno"></textarea>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button class="btn" onclick="Save();">保存</button>
                    <button class="btn" onclick="window.top.CloseDialog();">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</body>
</html>
